.form{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 25rem;
    border: 2px solid rgb(9, 56, 158);
    border-radius: 20px;
    min-height: 235px;
    box-shadow: whitesmoke;
}

.form input{
    width: 22rem;
    margin: 8px auto;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 36);
}


.toggle_button{
    background: transparent;
    border-color: transparent;
    margin-bottom: 15px;
    background-color: darkblue;
    
}

.submit_button{
    width: 16.5rem;
    margin: 8px auto;
    padding: 3px;
    border-radius: 10px;
    border: 2px solid rgb(20, 20, 107);
}

.form h3 {
    margin: 5px auto;
}

.error{
    display: flex;
    justify-content: center;
}
